/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  left: 0;
  position: absolute;

}

#sidebar .active > div{
  background: #a31d2b;
}

td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}

#planergy{
  height: 100vh;
  width: 75vh;
  position: relative;
  background-color: #fff7fe;
  overflow-y: auto;
  overflow-x: hidden;
}

.sectionHeading{
  color: black;
  padding-left: 16px;
}